{
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "no-var": "warn",
    "no-unused-vars": "warn",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es6": true
  }
}
